{% extends "base.html" %}


{% block content %}

<div class="row content">
	<div class="col-xs-12">    
	    <p>INVOICE FINANCE APPLICATION</p>
	</div>
</div>


<div class="call-action-v1 call-action-v1-boxed bg-color-green content">
    <div class="call-action-v1-box">
        <div class="call-action-v1-in">
            <h2 class="color-light">INVOICE FINANCE OFFER</h2>
             <p>{{offer}}</p>
        </div>
    </div>
</div>


<div class="table-responsive content">
	<p>To proceed, just click the Accept Loan button next to the bank account you would like to receive funds into and we'll transfer the funds immediately.</p>
    <table class="table compact" id="invoices"  cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Account Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{account.Code}}</td>
                <td>{{account.Name}}</td>
                <td>{{account.BankAccountNumber}}</td>
                <td>
                     <form method="POST" 
                            action="{%url 'bankxero:thankyou'%}?account={{account.BankAccountNumber}}&offer_amount={{offer_amount}}">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit">Accept Loan</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>	
</div>


{% endblock content %}
