{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block css %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet" />
<link href="{% static 'styles/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="logout-container container content">
    <div class="row">
        <div class="col m4 offset-m4 offset-s3">
            <h4>{% trans "Sign Out" %}</h4>
            
            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}" class="reg-page">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='waves-effect waves-light btn red lighten-2' type="submit">{% trans 'Sign Out' %}</button>
            </form>
            </br>
        </div>
    </div>
</div>
{% endblock %}
