{% extends "base.html" %}

{% block title %}{{block.super}} | View Account {% endblock title %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'nordea:index' %}">Nordea</a></li>
  <li><a href="{% url 'nordea:accountlist' %}">Account List</a></li>
  <li class="active">Account Details</li>
</ol>

    <div class="row">
        <div class="col-sm-3">
            <h1>{{object.name}}</h1>
        
            Bank: {{object.bank}}<br /><br />
            Sortcode: {{object.sortcode}}<br /><br />
            Account: {{object.account_number}}
        </div>
    </div>
{% endblock content %}