{% extends "base.html" %}


{% block content %}
<div class="call-action-v1 call-action-v1-boxed bg-color-green content">
    <div class="call-action-v1-box">
        <div class="call-action-v1-in">
            <h4 class="color-light">ACCOUNT IMPORT FROM XERO COMPLETE</h4>
             <p>Imported {{add_count}} accounts. </p>
        </div>
        <div class="call-action-v1-in inner-btn page-scroll">
            <a 
                href="{%url 'cashflow:accountlist'%}" 
                class="waves-effect waves-light btn">
                VIEW ACCOUNTS&nbsp
                <!-- <span class="fa fa-chevron-circle-right"></span> -->
                <i class="tiny material-icons right">chevron_right</i>
            </a>
        </div>
    </div>
</div>



{% endblock content %}

