

{% extends "cashflow/base.html" %}

{% block title %}{{block.super}} | Account Import {% endblock title %}

{% block content %}
<!-- Main body -->
<div class="main-container">
    <section class="">
        <div class="container">
            <!-- <div class="title">
                <div class="row">
                    <div class="col-sm-5 col-12">
                        <div class="row">
                            <div class="col-md-2 col-2">
                                <div class="icon"><i class="fa fa-user"></i></div>
                            </div>
                            <div class="col-md-10 col-10">
                                <ul class="list-unstyled"> -->
                                    <div class="row">
                                        <div class="col s12">
                                            <h5>Account Import Complete</h5>
                                        </div>    
                                    </div>                                    
                                <!-- </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-12 hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'cashflow:forecast' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Account Import Complete</li>
                        </ol>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <section class="contact-list">
        <div class="container">
            <div class="card bankifi-card">
                <div class="row">
                    <div class="col s12">
                        <h5>Account From Xero Import Complete</h5></br>
                        <p>Imported {{add_count}} accounts. </p>
                    </div> 
                </div>
                <div class="row">
                    <div class="col s6 create-btn-container">
                        <a href="{%url 'cashflow:forecast'%}" class="waves-effect waves-light btn">View Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
