{% extends "cashflow/base.html" %}

{% block title %}{{block.super}} | View Account {% endblock title %}

{% block content %}
<!-- Main body -->
<div class="main-container">
    <section class="">
        <div class="container">
            <!-- <div class="title">
                <div class="row">
                    <div class="col-sm-5 col-12"> -->
                        <div class="row">
                            <!-- <div class="col-md-2 col-2">
                                <div class="icon"><i class="fa fa-user"></i></div>
                            </div> -->
                            <div class="col s12">
                                <!-- <ul class="list-unstyled"> -->
                                    <h4>Account Details</h4>
                                <!-- </ul> -->
                            </div>
                        </div>
                    <!-- </div>
                    <div class="col-sm-7 col-12 hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'cashflow:forecast' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cashflow:accountlist' %}">Account List</a></li>
                            <li class="breadcrumb-item active">Account Details</li>
                        </ol>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section class="contact-list">
        <div class="container">
            <div class="card bankifi-card">
                <div class="row">
                    <div class="col s12">
                        <h5>{{object.name}}</h5>
                        <p>Bank: {{object.bank}}</p>
                        <p>Sortcode: {{object.sortcode}}</p>
                        <p>Account: {{object.account_number}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn" href="{% url 'cashflow:accountlist' %}">
                            View Accounts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}