<!--{% load crispy_forms_tags %}-->

<!--<form {% if form_id %} id='{{form_id}}' {%endif%} class="form" action="{% if action_url %}{{action_url}}{% endif %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form|crispy }}-->
<!--    <input type="submit" class="btn-standard btn-success" value="{{btn_title}}" />-->
<!--    -->
<!--</form>-->


{% load material_form %}

    <div class="container">
        <div class="card bankifi-card">
            <div class="row">
                <div class="col s8">
                    <h4>{{title}}</h4>
                    <form {% if form_id %} id='{{form_id}}' {%endif%} class="form" action="{% if action_url %}{{action_url}}{% endif %}" method="post">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <p>{{help_text}}</p>
                        <!-- <input type="submit" class="btn-standard btn-success" value="{{btn_title}}" /> -->
                        <button
                            type="submit"
                            name="_submit"
                            class="waves-effect waves-light btn">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

