
{% if title %}
<section id="cashflow-snippet-message-card" class="bankifi-notify">
    <div class="container">
        <div class="card-panel">
            <div class="card-header">
                <h5>{{title}}</h5>
                <button 
                    class="waves-effect waves-light btn teal lighten-1"
                    onclick="closeCashflowSnippetMessageCard()"
                >
                    <i class="material-icons">close</i>
                </button>                
            </div>
            <div class="card-block">
                <p>{{description}}</p>
                <p>{{status}}</p>
            </div>
        </div>            
    </div>
</section>
<script>
    function closeCashflowSnippetMessageCard() {
        var element = document.getElementById('cashflow-snippet-message-card');
        element.classList.add('bankifi-fade-out');
    }
</script>
{% endif %}


