<!-- {% load crispy_forms_tags %} -->

{% load material_form %}

<section class="contact-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{title}}</h2>
                <form {% if form_id %} id='{{form_id}}' {%endif%} class="form" action="{% if action_url %}{{action_url}}{% endif %}" method="post">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <p>{{help_text}}</p>
                    <!-- <input type="submit" class="btn-standard btn-success" value="{{btn_title}}" /> -->
                    <button 
                        type="submit" 
                        name="_submit" 
                        class="waves-effect waves-light btn">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

