{% extends "cashflow/base.html" %}

{% block content %}

<div class="call-action-v1 call-action-v1-boxed bg-color-green content">
    <div class="call-action-v1-box">
        <div class="call-action-v1-in">
            <h4 class="color-light">INVOICE GENERATION COMPLETE</h4>
            <p>Successfully instantiated {{number}} invoices.</p>
        </div>

        <div class="call-action-v1-in inner-btn page-scroll">
            <a 
                href="{%url 'cashflow:index'%}" 
                class="waves-effect waves-light btn">
                MAIN PAGE
                <i class="tiny material-icons right">chevron_right</i>
            </a>
        </div>
        
    </div>
</div>

{% endblock content %}

