

{% extends "cashflow/base.html" %}

{% block title %}{{block.super}} | Loan Paid {% endblock title %}

{% block content %}
<!-- Main body -->
<div class="main-container">
    <section class="">
        <div class="container">
            <div class="title">
                <div class="row">
                    <div class="col-sm-5 col-12">
                        <div class="row">
                            <div class="col-md-2 col-2">
                                <div class="icon"><i class="fa fa-user"></i></div>
                            </div>
                            <div class="col-md-10 col-10">
                                <ul class="list-unstyled">
                                    <h2>Loan Paid</h2>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-12 hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'cashflow:forecast' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cashflow:invoicelist' %}">Invoice List</a></li>
                            <li class="breadcrumb-item active">Loan Paid</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-list">
        <div class="container">
            <div class="white-box">
                <div class="row">
                    <div class="col-12">
                        <h2>Loan Payment Completed</h2></br>
                        <p>Thankyou. You have successfully cleared your loan balance and can now apply for a further loan.</p>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{%url 'cashflow:invoicelist'%}" class="btn-standard btn-success">View Invoices</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}