{% extends "aggregate/base.html" %}

{% block title %}{{block.super}} | Create Group {% endblock title %}

{% block content %}
<!-- <ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'aggregate:index' %}">Group</a></li>
  <li><a href="{% url 'aggregate:grouplist' %}">Group List</a></li>
  <li class="active">Create Group</li>
</ol> -->

<div class="row">
    <div class="col s8">
        <h4>Create Group</h4>
        {% include "aggregate/snippets/form.html" with form=form btn_title='Create Group' %}
    </div>
</div>
{% endblock content %}