{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/master.css' %}" rel="stylesheet" />
<link href="{% static 'styles/index.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<!-- Main body -->
<!-- <div class="banner" style="background-image: url({% static 'img/main-banner.png' %})">
    <div class="container">
        <h1>Welcome to <span>Bankifi</span></h1>
        <h2>ALL YOUR BANKS UNDER ONE ROOF</h2>
    </div>
</div> -->
<div id="index-banner" class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Bank Account-Ing from Gig to Big:
                    <br>
                    FOR THE BUSINESS BY THE BANK
                </h1>
            </div>
        </div>
    </div>
    <div class="img-banner">
        <div 
            class="img-container banner-img1"
            style="background-image: url({% static 'images/Small-home2.jpg' %})">
            <p class="bottom-tag">self employed</p>
        </div>
        <div class="img-container banner-img2"
            style="background-image: url({% static 'images/Mid-home3.jpg' %})">
            <p class="bottom-tag">micro-medium</p>
        </div>
        <div class="img-container banner-img3"
            style="background-image: url({% static 'images/Mid-large3.jpg' %})">            
            <p class="bottom-tag">enterprise</p>
        </div>
        <div class="tag-container">
            <ul>
                <li><p>Invocing</p></li>
                <li><p>Accounting</p></li>
                <li><p>Tax returns</p></li>
                <li><p>Request to Pay</p></li>
                <li><p>Account Info</p></li>
                <li><p>Payments</p></li>
                <li><p>Lending & Invoice Financing</p></li>
                <li><p>Cash Forecast</p></li>
                <li><p>Sweeping</p></li>
            </ul>
        </div>
    </div>
</div>
<!-- Main body -->
{% endblock content %}
