.color-sea { color: #1abc9c;}
.color-red { color: #e74c3c;}
.color-aqua { color: #27d7e7;}
.color-blue { color: #3498db;}
.color-grey { color: #95a5a6;}
.color-dark { color: #555;}
/*.color-dark1 { color: #444;}*/
.color-darker { color: #444;}
.color-green { color: #72c02c;}
.color-brown { color: #9c8061;}
.color-light { color: #ffffff;}
.color-orange { color: #e67e22;}
.color-yellow { color: #f1c40f;}
.color-green1 { color: #2ecc71;}
.color-purple { color: #9b6bcc;}
.color-inherit { color: inherit;}
.color-dark-blue { color: #4765a0;}
.color-light-grey { color: #585f69;}
.color-light-green { color: #79d5b3;}
.color-teal { color: #18ba9b;}

.white-box {
    background-color: white;
}

.list-inline {
    display: flex;
}

.list-inline .list-inline-item {
    margin-right: 20px;
}

.top-boxes .box.box-1 {
    background-color: #110E3D;
    color: #FFF!important;
}

.top-boxes .box {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.04);
    color: #3a3a3a;
    font-size: 24pt;
    font-weight: 300;
    height: 100%;
}

.top-boxes .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.top-boxes .row .col {
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
}

.create-btn-container {
    display: flex;
    justify-content: flex-end;
}

.create-btn-container .btn {
    margin-top: 1.7rem;
    margin-left: 1rem
}

.bankifi-card {
    padding-bottom: 5px;
}

form .row {
    margin-bottom: 20px;
}

form .help-block {
    top: 0;
    display: none;
}

/* .bankifi-card .scale-out {
    display: none;
} */

.bankifi-notify {
}

.bankifi-notify .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bankifi-notify .card-header h5 {
    margin: 0;
}

.bankifi-notify.bankifi-fade-out {
    display: none;
}

.bankifi-notify.backifi-fade-in {    
    opacity: 1;
}

.dataTable thead tr th {
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
}

.dataTable thead tr th.action-column {
    min-width: 150px;
}

.dataTable tbody tr:nth-child(2n+1) {
    background: #f6f6f6;
}

.dataTable tbody tr td {
    color: rgba(0, 0, 0, 0.87);
}

table.dataTable thead th, 
table.dataTable thead td {
    border-bottom: 1px solid #e0e0e0 !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e0e0e0 !important;
}

.dataTables_wrapper .dataTables_filter, input[type=search] {
    margin-left: 0 !important;
}

table.dataTable tr td a.color-dark {
    color: #26a69a;
    cursor: pointer;
}

table.dataTable tr td a.color-dark:hover {
    color: #2bbbad
}

.teal.darken-2 {
    background-color: #110E3D !important;
}

.pink.darken-2 {
    background-color: #D1529E !important;
}