.index-navbar-container {
    width: 100%;
    position: relative;
}

.index-navbar-container nav {
    /* background-color: #fff; */
    background-color: #110E3D;
    font-size: 18px;
    font-weight: 500;
}

/* .index-navbar-container > .container {
    width: 100%;
} */

/* .index-navbar-container .row {
    margin-bottom: 0;
}

.index-navbar-container .row .col.s12{    
    background-color: white;
} */

.index-navbar-container .logo {
    height: 54px;
}

.index-navbar-container nav .nav-wrapper {
    /* padding: 0 16px; */
}

.index-navbar-container nav ul a {
    color: white;
}

.index-navbar-container nav li, nav p, nav a {
    color: white;
}

.index-navbar-container nav ul a.btn {
    color: white;
}

.index-navbar-container nav .dropdown-content {
    background-color: #110E3D;
}

.index-navbar-container nav li:hover {
    background-color: #D1529E;
}

.index-navbar-container nav li.logbutton-li:hover,
.index-navbar-container nav li.username-li:hover {
    background-color: #110E3D;
}

footer li, footer p, footer a {
    color: white;
}

a:focus, a:hover {
    color: white;
    text-decoration: none;
}

footer img {
    height: 52px;
}

footer .social-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .social-div .social {
    margin: 0;    
}

footer .social-div .social a {
    font-size: 18px;
}

footer a {
    color: white;    
}

footer hr {
    margin-top: 0;
    margin-bottom: 0;
}
footer a:focus, footer a:hover {
    color: white;
    text-decoration: none;
}

li .rounded-circle {
    border: 3px solid #1CA3A6;
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

#index-banner {
    padding: 0;
    background-color: white;
}

#index-banner h1 {
    font-weight: normal;
    color: #3a3a3a;
    padding: 50px 0 10px;
    font-size: 42px;
    text-align: center;
}

#index-banner .img-banner {
    display: flex;
    position: relative;
    width: 100%;
}

#index-banner .img-banner .img-container {
    width: 33.33%;
    height: 378.5px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
}

#index-banner .img-banner .img-container .bottom-tag {
    border-radius: 25px;
    background-color: white;
    color: #000;
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 24px;
    white-space: nowrap;
}

#index-banner .tag-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 58%;
    left: 50%;    
    transform: translate(-50%, -50%);
}

#index-banner .tag-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;    
    margin: 0;
    padding: 0;
    color: #3a3a3a;    
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#index-banner .tag-container ul li {
    border-radius: 4px;
    background: white;
    margin-left: 15px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

#index-banner .tag-container ul li p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#index-banner .tag-container ul li:first-child {
    margin-left: 0;
}

.red.lighten-2 {
    background-color: #D1529E !important;
}

@media screen and (max-width: 1023px) {
    #index-banner h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    #index-banner h1 {
        font-size: 24px;
    }

    #index-banner .img-banner {
        flex-direction: column;
    }

    #index-banner .img-banner .img-container {
        width: 100%;
    }

    #index-banner .img-banner .img-container .bottom-tag {
        z-index: 1;
    }

    #index-banner .tag-container {
        top: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .index-navbar-container .logo {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}

#mobile-sidebar {

}

#mobile-sidebar .no-padding>a {
    padding: 0 16px;
}

#mobile-sidebar .side-li-user {
    padding: 0 16px;
    display: flex;
    justify-content: center;
}

#mobile-sidebar .rounded-circle {
    margin-right: 20px;
    width: 44px;
    height: 44px;
}

#mobile-sidebar .collapsible-header {
    color: rgba(0, 0, 0, 0.87);
}

.sidenav-trigger {
    position: fixed;
    top: 18px;
    left: 7px;
}

.sidenav-trigger:hover {
    color: #2bbbad;
}