nav.navbar {
    background-color: #FFF;
    box-shadow: 0 0 0 0 rgb(0,0,0);
    --webkit-box-shadow:0 0 0 0 rgb(0,0,0);
}


#login_page .textInput {
    border-radius: 5px;
    border: 1px solid;
    padding: 0 10px 0 10px;
}
footer a {
    color: white;
}
footer p {
    color: white;
}

li .rounded-circle {
    margin-top: 8px;
}

.logout-container {
    height: calc(100vh - 280px);
}

.page-footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

.page-footer .list-inline {
    display: flex;
    justify-content: flex-end;
}

.page-footer .list-inline .list-inline-item {
    margin-right: 15px;
}

.page-footer .list-inline a:hover {
    color: #D1529E;
}

.page-footer .container .row:last-child {
    margin-bottom: 0;
}

.page-footer {
    padding-bottom: 20px;
    background-color: #110E3D;
}

.page-footer .footer-logo {
    background-color: white;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#login_page {
    min-height: calc(100vh - 253px);
}