{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-5">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="logo-text">NORDEA</div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                </ul>
            </div>
            <ul class="list-inline social pull-right">
                <ul class="list-inline pull-right">
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-6">
                <p>Copyright &copy; 2017 - Bankifi - All Rights Reserved.</p>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline pull-right">
                    <li class="list-inline-item">
                        <a href="">
                            Terms &amp; Conditons
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            Privacy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>