{% load static %}
<ul id="slide-out" class="sidenav sidenav-fixed">
	<li class="no-padding {% if 'dashboard' in request.path %}active{% endif %}">
		<a href="{% url 'aggregate:accountdashboard' %}">
				<i class="tiny material-icons left">dashboard</i>
				Dashboard
		</a>
	</li>

	<li class="no-padding {% if 'group' in request.path %}active{% endif %}">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">
					<i class="tiny material-icons left">group</i>
					Groups
					<i class="material-icons right">arrow_drop_down</i>
				</a>			
				<div class="collapsible-body">
					<ul>
						<li><a href="{% url 'aggregate:grouplist' %}">View Groups</a></li>
						<li><a href="{% url 'aggregate:groupcreate' %}">Create Group</a></li>		
					</ul>
				</div>
			</li>
		</ul>
	</li>

	<li class="no-padding {% if 'account' in request.path %}active{% endif %}">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">
					<i class="tiny material-icons left">account_balance</i>
					Bank Accounts
					<i class="material-icons right">arrow_drop_down</i>
				</a>			
				<div class="collapsible-body">
					<ul>
						<li><a href="{% url 'aggregate:accountlist' %}">View Accounts</a></li>
						<li><a href="{% url 'aggregate:consentcreate' %}">Add Account</a></li>
						{%comment%}
						<li><a href="{% url 'aggregate:consentlist' %}">View Consent</a></li>
						{% endcomment %}
						{% if user.is_superuser %}
								<li><a href="{% url 'aggregate:accountcreate' %}">Create Account</a></li>
						{% endif %}
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li class="no-padding {% if 'transaction' in request.path %}active{% endif %}">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">
					<i class="tiny material-icons left">payment</i>
					Transactions
					<i class="material-icons right">arrow_drop_down</i>
				</a>		
				<div class="collapsible-body">
					<ul>
						<li><a href="{% url 'aggregate:transactionlist' %}">View Transactions</a></li>
						{% if user.is_superuser %}
						<li><a href="{% url 'aggregate:transactioncreate' %}">Create Transactions</a></li>
						{% endif %}
					</ul>
				</div>
			</ul>
	</li>
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">
					<i class="tiny material-icons left">sync_problem</i>
					Solutions
					<i class="material-icons right">arrow_drop_down</i>
				</a>
				<div class="collapsible-body">
					<ul>
						{%comment%}
						<li>
							<a href="{% url 'oauth:index' %}">OAUTH and Account Demo</a>
						</li>
						<li>
							<a href="{% url 'bankinfo:banks' %}">OBP Available Banks</a>
						</li>
						<li>
							<a href="{% url 'branch:branchfinder' %}">Branch Finder Demo</a>
						</li>
						<li>
							<a href="{% url 'rbs:index' %}">RBS API</a>
						</li>
						{%endcomment%}
						<li>
							<a href="{% url 'nordea:nordea_breakdown' %}">Bank API</a>
						</li>
						<li>
							<a href="{% url 'cashflow:index' %}">Pocket Treasurer</a>
						</li>
						<li>
							<a href="{% url 'aggregate:accountdashboard' %}">Aggregation</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>